@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Caveat|Courgette');

/* 
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Calligraffitti', cursive;
*/
body {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}

nav li a:hover{
    color:#DCAE1D !important;
    transition: cubic-bezier(1, 0, 0, 1), 1s;
 }
.brand-logo {
  font-family: 'Caveat', cursive;
  letter-spacing: 1px;
}

.sidenav-section {
   padding: 5%;
   font-size: 2em;
}

.login-section {
    background-color: #f3f3f3;
    padding-bottom: 20px;
}

.login {
    padding: 15% 7% 0 4%;
}

.login h4 {
    padding-bottom: 30px;
}

.OAuth-box {
    padding-top: 8%;
}

.fa-facebook-f {
    margin-left: 10px;
   
}
.login-box {
   text-align: center;
}

 /* label color */
 .input-field label {
    color: #7e7e7e;
  }
 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #DCAE1D !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 0px solid #7e7e7e !important;
    box-shadow: 0 1px 0 0 #7e7e7e !important;
  }
   /* label focus color */
 .input-field input[type=password]:focus + label {
    color: #DCAE1D !important;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 0px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
  /* icon prefix focus color */
  
  .input-field .prefix.active {
    color: #DCAE1D;
  }
/* end label and form coloring */
.btn-small {
    margin-bottom: 8px;
}
  