@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Caveat|Courgette');

/* 
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Calligraffitti', cursive;
*/
body {
    background-image: url("../assets/imgs/abstract-adult-background-1079033.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.signup-content {
    opacity: 1 !important;
  
}

nav a:hover{
   color:#DCAE1D !important;
   transition: 1s;
}
.brand-logo {
  font-family: 'Caveat', cursive;
  letter-spacing: 1px;
}

.sidenav-section {
   padding: 5%;
   font-size: 2em;
}


 /* label color */
 .input-field label {
    color: #000000;
  }
 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #DCAE1D !important;
  }
  .input-field input[type=email]:focus + label {
    color: #DCAE1D !important;
  }

    /* label focus color */
 .input-field input[type=password]:focus + label {
    color: #DCAE1D !important;
  }
  
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 0px solid #7e7e7e !important;
    box-shadow: 0 1px 0 0 #7e7e7e !important;
  }
  .input-field input[type=email]:focus {
    border-bottom: 0px solid #7e7e7e !important;
    box-shadow: 0 1px 0 0 #7e7e7e !important;
  }
 
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 0px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
  /* icon prefix focus color */
  
  .input-field .prefix.active {
    color: #DCAE1D;
  }
/* end label and form coloring */
.btn-small {
    margin-bottom: 8px;
}
  